config SHIELD_ROBA_R
    def_bool $(shields_list_contains,roBa_R)

config SHIELD_ROBA_R_TRACKBALL_TEST
    def_bool $(shields_list_contains,roBa_R_trackball_test)

config SHIELD_ROBA_L
    def_bool $(shields_list_contains,roBa_L)
